.mainContainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 100px;
    background-color:rgb(237, 90, 90);
    gap:10px;

    height: 100vh;
    grid-template-areas: "nav nav nav"
    "main main aside"
    "footer footer footer";
}
.navbar{
    grid-area:nav;
    background-color: #769751;
    height: 100%;
    width: auto;
    

}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    height: 100%;


}
.navbar ul li{
    list-style-type:none;
    height: 100%;

}



.main{
    grid-area:main;
    background-color:#3a9091;
    height: auto;
    width: auto;

}
.aside{
    grid-area:aside;
    background-color: #71287c;
    height: auto;
    width: auto;

}
.footer{
    grid-area:footer;
    background-color: #918d3a;
    height: auto;
    width: auto;
}